html {
  height: 100%;
}

body {
  background-image: url("get-ur-wish.jpg");
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 50s linear infinite;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  padding: 0;
  margin: calc(calc(100vw - 85vw) / 2) auto;
}

@keyframes animation {
  100% {
    background-position: -1000px -3000px;
  }
}

#text {
  background-color: rgba(0, 0, 0, 0.719);
  color: rgb(219, 219, 219);

  margin: auto calc(calc(100vw - 85vw) / 2);
  padding: 1em;

  border-radius: 20px;
  backdrop-filter: blur(20px);
}

p {
  font-style: italic;
  font-size: 0.9em;
}

a:link,
a:visited {
  color: rgb(219, 219, 219);
  text-decoration: none;
}

:target,
h1:hover {
  color: rgb(255, 255, 255);
}

h1:hover {
  text-decoration: underline solid 1px;
}

::selection {
  background: #00587e;
}
